# Personal Info
NEXT_PUBLIC_NAME="Your Name"
NEXT_PUBLIC_EMAIL_USER="TeemuValimaki"
NEXT_PUBLIC_EMAIL_DOMAIN="proton.me"

# Social Links
NEXT_PUBLIC_GITHUB_URL="https://github.com/yourusername"
NEXT_PUBLIC_GITHUB_USERNAME="yourusername"
NEXT_PUBLIC_LINKEDIN_URL="https://linkedin.com/in/yourusername"
NEXT_PUBLIC_LINKEDIN_USERNAME="yourusername"

# Contact Form
NEXT_PUBLIC_FORMSPREE_KEY=your_formspree_id_here
